/* custom-styles.css */
.bg-color1 { background-color: #97533d; }
.text-color1 { color: #97533d; }

.bg-color2 { background-color: #e1a26a; }
.text-color2 { color: #e1a26a; }

.bg-color3 { background-color: #f2f0ee; }
.text-color3 { color: #f2f0ee; }

.bg-color4 { background-color: #a5b462; }
.text-color4 { color: #a5b462; }

.bg-color5 { background-color: #705a56; }
.text-color2 { color: #705a56; }
